/* stylelint-disable selector-id-pattern */
/* stylelint-disable selector-class-pattern */
@media screen and (min-width: 800px) {
  h1,
  h3 {
    text-align: left;
  }

  h1 {
    position: static;
    padding: 90px 0 0 60px;
  }

  h3 {
    position: static;
    padding-left: 80px;
    font-size: 2rem;
  }

  button {
    background-color: #dda15e;
    color: #283618;
    outline: 3px solid #bc6c25;
    border-radius: 10px;
    display: inline;
    margin: 10px auto;
    font-size: 1.3rem;
    font-weight: 600;
  }

  .taskText {
    margin-right: 1rem;
    font-size: 1.5rem;
  }

  .closeAddTask {
    visibility: hidden;
    height: 0;
  }

  #addToDo {
    display: block;
    margin: 10px auto;
  }

  #addToDo:hover {
    background-color: white;
  }

  #datePicker:hover,
  #categoryPicker:hover {
    background-color: #606c38;
  }

  li button {
    visibility: visible;
  }

  .toDoList button {
    visibility: visible;
    background-color: #dda15e;
    color: #283618;
    border-radius: 10px;
    position: absolute;
    right: 8px;
    padding: 2px;
  }

  .toDoList {
    position: absolute;
    left: 360px;
    width: calc(100% - 360px);
  }

  .sortItemsWrapper {
    position: absolute;
    top: 160px;
    right: 0;
    font-size: 1rem;
  }

  .sortItemsWrapper:hover {
    border: 3px solid #606c38;
  }

  .sortItemsLabel {
    position: absolute;
    top: 165px;
    right: 50px;
  }

  #sortItems {
    position: absolute;
    top: 175px;
    right: 50px;
  }

  .deleteTask {
    width: 40px;
    display: inline;
    background-color: #606c38;
    color: #fefae0;
    outline: #283618;
    margin-left: 1rem;
  }

  .plusWrapper {
    visibility: hidden;
    width: 0;
  }

  button.deleteTask {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 2rem;
  }

  .deleteTask:focus {
    outline: #fefae0;
  }

  .line {
    position: static;
    height: 2px;
    background: #283618;
    margin-top: 10px;
  }

  .pageContainer {
    background-color: beige;
    gap: 10px;
  }

  .categoryMenuButton {
    left: -5px;
  }

  .toDoList span.material-symbols-outlined {
    font-variation-settings:
      "FILL" 0,
      "wght" 700,
      "GRAD" 0,
      "opsz" 48;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 4px;
  }

  button.categoryMenuButton span.material-symbols-outlined {
    position: absolute;
    left: 15px;
    font-size: 2rem;
  }

  button.deleteTask span.material-symbols-outlined {
    position: absolute;
  }

  .taskDeadline {
    font-size: 1.5rem;
    margin-right: 5px;
  }

  .check {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    background-color: #fefae0;
    border: 3px solid #283618;
    border-radius: 20%;
    appearance: none;
    margin-right: 1rem;
    vertical-align: middle;
    position: relative;
  }

  .leftMenuDesktop {
    visibility: visible;
    background-color: #bc6c25;
    height: 100vh;
    align-items: center;
    position: absolute;
  }

  .inputContainer {
    padding: 10px 15px;
    position: relative;
  }

  .addToDoLabel {
    margin-left: 15px;
  }

  .categoryMenu li button {
    display: block;
    padding: 13px 30px;
    border-bottom: 3px solid #283618;
    color: #283618;
    background-color: #dda15e;
    font-size: 1rem;
    position: relative;
    margin: 10px 0;
    width: 340px;
  }

  .addToDoButton {
    position: static;
    background-color: #dda15e;
    color: #283618;
    outline: 3px solid #bc6c25;
    border-radius: 10px;
    width: fit-content;
  }

  .addToDoButton:hover {
    color: #606c38;
  }
}
